@import "variables";
@import "~bulma/bulma";

html, body {
	font-family: $font-family-default;
	font-size: $font-size;
	color: $black;
	background: $white;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

input {
	&:focus {
		outline: none;
	}
}

body {
	width: 100vw;
	height: 100vh;
	border: 1px $fuchsia solid;
}

.sle-view__blueprint-overview {
	.blueprint--is-running {
		.panel-icon {
			path {
				fill: $green;
			}
		}
	}
}

.sle-view__edit-blupr {
	> .box {
		padding: 0.5rem;
	}

	main {
		height: 100vh;
	}

	.slang-editor {
		height: 100vh;
		.joint-paper {
			height: 100%;
		}
	}
}

.sle-view__edit-blupr__top-left {
	position: absolute;
	left: 10px;
	top: 10px;
}

.sle-view__edit-blupr__left-sidebar {
	position: absolute;
	left: 10px;
	top: 100px;
	height: 90vh;
}

.sle-view__run-opr {
	> .box {
		padding: 0.5rem;
	}

	.sle-view__edit-blupr {
		border-right: 2px rgba(0, 0, 0, 0.1) solid;
	}
}

.sle-comp__datalog {
	.panel-block {
		display: block;
	}

	.sle-comp__datalog__log-entry {
	}

	.sle-comp__datalog__sent {
	}

	.sle-comp__datalog__recv {
	}
}

.sle-view__layout {
	margin: 0;
	vertical-align: top;

	.sle-view__layout--half-screen {
		display: inline-block;
		width: 50vw;
		margin: -1px;
		float: left;
	}
}


.sle-comp__opr-context-menu {
	> div {
		margin-bottom: 8px;
	}
}

.sle-comp__opr-ctrl {
}

.sle-comp__opr-dashboard {
}

.sle-comp__blueprint-menu {
	height: 100%;
	overflow-y: scroll;
}

.sle-comp__blueprint-ctrl-bar {
	min-height: 1rem;

	.input {
		border: 0;
		box-shadow: none;
	}

	.ctrl-bar__name {
		width: 320px;
	}

	.ctrl-bar__uuid {
		position: absolute;
		bottom: 0;
		left: 19px;
	}
}

@import "./editor";