@import "variables";
@import "~bulma/bulma";

html, body {
	font-family: $font-family-default;
	font-size: $font-size;
	color: $black;
	background: $white;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

input {
	&:focus {
		outline: none;
	}
}

body {
	width: 100vw;
	height: 100vh;
}

@import "./editor";