$body-color: #232323;

html, body {
  color: $body-color;
  margin: 0;
  padding: 0;
}

.available-magnet {
  stroke: lime;
}

.sl-type-number {
  fill: blue;
}

.sl-type-string {
  fill: brown;
}

.sl-type-boolean {
  fill: orange;
}

.sl-type-binary {
  fill: yellow;
}

.sl-type-primitive {
  fill: darkcyan;
}

.sl-type-trigger {
  fill: gray;
}

.sl-type-generic {
  fill: violet;
}