@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto');

$black: #222221;
$white: #fffffe;

html, body {
	font-family: 'Roboto', sans-serif;
	color: $black;
	background: $white;
	margin: 0;
	padding: 0;
}
input {
	&:focus {
		outline: none;
	}
}

@import "blueprint-select";