// COLORS
@import "variables";

$type-color-number: $blue;
$type-color-string: $brown;
$type-color-boolean: $orange;
$type-color-binary: $green;
$type-color-primitive: $cyan;
$type-color-trigger: $gray;
$type-color-generic: $purple;

$port-color-stroke: $black;
$port-color-valid: $green;

$blueprint-color-fill: $white;

$blackbox-color-fill: $white;
$blackbox-color-stroke: $black;
$blackbox-color-label: $black;

// BUTTONS

@keyframes isRunning {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg)
	}
}

.sl-tool-btn {
	@extend %bordered;
	@extend %translucent;
	display: inline-block;
	cursor: pointer;

	transition: 450ms background-color, color;

	padding: 8px 5px;
	margin: 1px;
	font-size: 10px;
	text-align: center;

	color: $black;
	background: $white;

	&:hover {
		color: $white;
		background: $black;
	}

	&.running {
		color: $green;
		background-color: $green;
		animation: isRunning;
		animation-timing-function: linear;
		animation-duration: 1000ms;
		animation-iteration-count: infinite;
	}
}

// BLACKBOX

.sl-blackbox, .sl-blackbox-ghost {
	.sl-rectangle {
		fill: $blackbox-color-fill;
		stroke: none;
	}
	.sl-label {
		fill: $blackbox-color-label;
	}
}

.sl-blackbox-ghost {
	.sl-rectangle {
		fill-opacity: .1;
	}
}

// OUTER

.sl-outer {
	.sl-rectangle {
		stroke: none;
		fill: $blueprint-color-fill;
	}
}

// BLUEPRINT PORT

.sl-blueprint-port {
	.sl-label {
		fill: $blackbox-color-label;
	}
}

// PORT

.sl-port {
	stroke-width: 0;
	transition: stroke-width 1s;

	&.sl-stripe {
		stroke: white;
		fill: white;
	}

	&.sl-type-number {
		stroke: $type-color-number;
		fill: $type-color-number;
	}
	&.sl-type-string {
		stroke: $type-color-string;
		fill: $type-color-string;
	}
	&.sl-type-boolean {
		stroke: $type-color-boolean;
		fill: $type-color-boolean;
	}
	&.sl-type-binary {
		stroke: $type-color-binary;
		fill: $type-color-binary;
	}
	&.sl-type-primitive {
		stroke: $type-color-primitive;
		fill: $type-color-primitive;
	}
	&.sl-type-trigger {
		stroke: $type-color-trigger;
		fill: $type-color-trigger;
	}
	&.sl-type-generic {
		stroke: $type-color-generic;
		fill: $type-color-generic;
	}
}

// JOINT

@keyframes port-pulse {
	0% {
		stroke-width: 0;
	}
	50% {
		stroke-width: 4px;
	}
	100% {
		stroke-width: 0;
	}
}

.joint-paper {
	font-family: $font-family-default;
	font-size: $font-size;
	background-color: $blackbox-color-fill;
}

.joint-highlight-stroke {
	stroke: none;
}

.available-magnet {
	path {
		stroke-width: 4px;

		animation-name: port-pulse;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}

@import "component/blueprint-select";
@import "component/form";
