@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300%7CRoboto');

// COLORS

$type-color-number: blue;
$type-color-string: brown;
$type-color-boolean: orange;
$type-color-binary: yellow;
$type-color-primitive: darkcyan;
$type-color-trigger: gray;
$type-color-generic: violet;

$port-color-stroke: black;
$port-color-valid: lime;

$blackbox-color-fill: white;
$blackbox-color-stroke: black;
$blackbox-color-label: green;

// BLACKBOX

.sl-blackbox {
  .sl-rectangle {
    fill: $blackbox-color-fill;
    stroke: $blackbox-color-stroke;
    stroke-width: 0.5;
    vector-effect: non-scaling-stroke;
  }
  .sl-label {
    fill: $blackbox-color-label;
  }
}

// OUTER

.sl-outer {
  .sl-rectangle {
    stroke-width: 0.5;
    fill: blue;
    fill-opacity: 0.05;
    vector-effect: non-scaling-stroke;
  }
}

// PORT

.sl-port {
  stroke-width: 0;
  transition: stroke-width 1s;

  &.sl-type-number {
    stroke: $type-color-number;
    fill: $type-color-number;
  }
  &.sl-type-string {
    stroke: $type-color-string;
    fill: $type-color-string;
  }
  &.sl-type-boolean {
    stroke: $type-color-boolean;
    fill: $type-color-boolean;
  }
  &.sl-type-binary {
    stroke: $type-color-binary;
    fill: $type-color-binary;
  }
  &.sl-type-primitive {
    stroke: $type-color-primitive;
    fill: $type-color-primitive;
  }
  &.sl-type-trigger {
    stroke: $type-color-trigger;
    fill: $type-color-trigger;
  }
  &.sl-type-generic {
    stroke: $type-color-generic;
    fill: $type-color-generic;
  }
}

// CONNECTION

.sl-connection {
  stroke-width: 3;
}

// MISCELLANEOUS

.joint-paper {
  font-family: Roboto, sans-serif;
}

.joint-highlight-stroke {
  stroke: none;
}

.available-magnet {
  stroke-width: 4px;
}