// COLORS
@import "variables";
@import "fontawesome";

$type-color-number: $blue;
$type-color-string: $brown;
$type-color-boolean: $orange;
$type-color-binary: $green;
$type-color-primitive: $cyan;
$type-color-trigger: rgba($gray, 0.5);
$type-color-generic: rgba($purple, 0.5);

$port-color-stroke: $black;
$port-color-valid: $green;

$blueprint-color-fill: $white;

$blackbox-color-fill: $white;
$blackbox-color-stroke: $black;
$blackbox-color-label: $black;

// BLACKBOX

.sl-blackbox, .sl-blackbox-ghost {
	.sl-rectangle {
		fill: $blackbox-color-fill;
		stroke: $black;
		stroke-width: 1px;
	}

	.sl-label {
		fill: $blackbox-color-label;
	}
}

.sl-blackbox-ghost {
	.sl-rectangle {
		fill-opacity: .1;
	}
}

// OUTER

.sl-outer {
	.sl-rectangle {
		stroke: $black;
		fill: $blueprint-color-fill;
		stroke-width: 1px;
	}
}

// BLUEPRINT PORT

.sl-blueprint-port {
	.sl-label {
		fill: $blackbox-color-label;
	}
}

// PORT

.sl-port {
	@extend %transition;
	stroke-width: 0;
	stroke-opacity: .6;
	transition-property: stroke-width;

	&.sl-stripe {
		stroke: white;
		fill: white;
	}

	&.sl-type-number {
		stroke: $type-color-number;
		fill: $type-color-number;
	}

	&.sl-type-string {
		stroke: $type-color-string;
		fill: $type-color-string;
	}

	&.sl-type-boolean {
		stroke: $type-color-boolean;
		fill: $type-color-boolean;
	}

	&.sl-type-binary {
		stroke: $type-color-binary;
		fill: $type-color-binary;
	}

	&.sl-type-primitive {
		stroke: $type-color-primitive;
		fill: $type-color-primitive;
	}

	&.sl-type-trigger {
		stroke: $type-color-trigger;
		fill: $type-color-trigger;
	}

	&.sl-type-generic {
		stroke: $type-color-generic;
		fill: $type-color-generic;
	}
}

// JOINT

@keyframes port-pulse {
	from {
		stroke-width: 0;
	}
	to {
		stroke-width: 8px;
	}
}

.joint-paper {
	font-family: $font-family-default;
	font-size: $font-size;
	background-color: $blackbox-color-fill;
}

.joint-highlight-stroke {
	stroke: none;
}

.available-magnet {
	path {
		animation-name: port-pulse;
		animation-duration: 500ms;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in;
	}
}

@import "component/base";
@import "toolkit/base";
