$black: #1f1f1f;
$white: #fffffe;
$blue: #2e49b3;
$brown: #a52e2e;
$orange: #cb8000;
$green: #83a91d;
$cyan: #018b8a;
$gray: #979797;
$purple: #b25db2;

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300%7CRoboto');
$font-family-default: "Roboto", "sans-serif";
$font-family-mono: "Roboto Slab", "sans-serif";
$font-size: 1rem;