@import "~bulma/sass/utilities/initial-variables.sass";

$black: #212124;
$white: #fefefe;
$blue: #2e49b3;
$cyan: #209CEE;
$red: #f74125;
$orange: #ff764d;
$yellow: #cbaa00;
$green: #83a91d;
$turquoise: #018b8a;
$grey: #989897;
$dim: $white-ter;
$light: $white-bis;
$brown: #952e2e;

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300%7CRoboto');
$font-family-default: "Roboto", "sans-serif";
$font-family-mono: "Roboto Slab", "sans-serif";
$font-size: 1rem;

$container-width: 343px;

%transition {
	transition-duration: 200ms;
}

%rounded {
	border-radius: 20px;
}

%bordered {
	@extend %rounded;
	border: 1px solid transparentize($black, .85);
}

%hovering {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

%translucent {
	@extend %transition;
	opacity: .55;

	&:hover {
		opacity: .97;
	}

	transition-property: opacity;
}

