button, .sl-btn {
	@extend %bordered;
	@extend %transition;

	font-size: .7rem;
	text-align: center;
	text-transform: uppercase;
	//padding: 6px 8px 4px;
	padding: 5px 8px 4px;

	display: inline-block;

	user-select: none;

	&.sl-fullwidth {
		display: block;
	}

	cursor: default;

	&.sl-not-allowed {
		cursor: not-allowed;
	}

	color: $black;
	background: $white;
	transition-property: background-color, color;

	&.sl-clickable {
		cursor: pointer;
	}

	&.sl-white, &.sl-default {
		color: $black;
		background: $white;
	}

	&.sl-cyan, &.sl-primary {
		color: $white;
		background: $cyan;
	}

	&.sl-red, &.sl-danger {
		color: $white;
		background: $red;
	}

	&.sl-green {
		color: $white;
		background: $green;
	}

	&.sl-yellow, &.sl-warn {
		color: $white;
		background: $yellow;
	}


	&.sl-green-pulsing {
		cursor: progress;
		@keyframes isPulsing {
			from {
				background-color: transparentize($green, .6);
			}

			to {
				background-color: transparentize($green, .05);
			}
		}

		background: $green;
		color: $white;
		animation: isPulsing;
		animation-timing-function: ease-out;
		animation-duration: 600ms;
		animation-direction: alternate;
		animation-iteration-count: infinite;
	}

	&.sl-btn-icon {
		border: 0;
		padding: 0;
		width: 12px;
		height: 12px;
		display: inline-block;
		position: relative;

		> i {
			text-align: center;
			vertical-align: middle;
			font-size: 11px;
			position: absolute;
			left: 1px;
			right: 1px;
			top: 0;
			bottom: 0;
		}
	}
}
