.sl-input {
	.sl-input-outer {
		position: relative;
		width: 100%;

		label {
			display: block;
			font-size: .7rem;
			margin-right: 8px;
		}

		.sl-input-inner {
			display: block;

		}

		.sl-input-wrap {
			margin: 2px 12px;

			input {
				font-size: .7rem;
			}
		}
	}

	&.sl-fullwidth {
		.sl-input-inner {
			width: 100%;

			input {
				width: 100%;
			}
		}
	}
}

.sl-input-grp {
	display: block;

	&.sl-error {
		background-color: transparentize($red, .8);
	}

	> .sl-input {
		display: inline-block;

		.sl-input-wrap {
			margin: 2px 4px;
		}
	}
}

