.sl-json {
	margin: 0;
	padding: 0;
}

.sl-json-pair {
	margin-bottom: 2px;

	.sl-json-val, .sl-json-key {
		display: inline-block;
		padding: 2px 6px;
		border-radius: 500px 0 0 500px;
	}

	.sl-json-key {
		border: 500px;
		color: $white;
		background: $black;
		border-radius: 500px 0 0 500px;
	}

	.sl-json-val {
		display: inline-block;
		background: transparentize($black, .9);
		border-radius: 0 500px 500px 0;
	}
}

.sl-list-item, .sl-list-head {
	@extend %transition;
	padding: 18px 32px 16px 32px;
	border-bottom: 1px solid transparentize($black, .85);
	transition: background-color, color;
	background: $white;
	cursor: default;
}

.sl-list-head {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

.sl-list-item {
	&:last-child {
		border-bottom: 0;
	}
}
