.sl-container {
	display: block;
}

.sl-box {
	@extend %rounded;
	@extend %hovering;
	padding: 2px;
	overflow: hidden;
	background: $white;

	> * {
		@extend %rounded;
	}
}

@import "console";
@import "blueprint-select";
@import "property-form";
@import "port-info";
