.sl-blupr-menu {
	@extend %bordered;
	@extend %translucent;

	position: absolute;
	overflow-y: scroll;
	max-height: 384px;
	width: 342px;
	background: $white;
	padding: 0;

	transition: 450ms opacity;
}

.sl-blupr-fltr {
	@extend %bordered;

	position: fixed;
	margin: 3px;
	padding: 0;
	overflow: hidden;
	width: 336px;
	background: $white;
	.sl-blupr-input {
		background: transparent;
		border: none;
		margin: 0 12px;
		padding: 11px 0;
		width: 100%;
	}
}

.sl-blupr-entries {
	> * {
		padding: 18px 32px 16px 32px;
		border-bottom: 1px solid transparentize($black, .85);

		cursor: pointer;
		transition: 450ms background-color, color;

		&:hover {
			background-color: $black;
			color: $white;
		}

		&:first-child {
			margin-top: 41px;
		}
	}

	.sl-blupr-entry-none {
		padding: 0;
		border-bottom: 0;
	}
}
