.sl-blupr-menu {
	@extend %proto-container;

	overflow-y: scroll;
	max-height: 384px;
	width: 342px;
	background: $white;
	padding: 0;
}

.sl-blupr-fltr {
	position: fixed;
	overflow: hidden;
	width: 336px;
}

.sl-blupr-entries {
	> * {
		padding: 18px 32px 16px 32px;
		border-bottom: 1px solid transparentize($black, .85);

		cursor: pointer;
		@extend %transition;
		transition: background-color, color;

		&:hover {
			background-color: $black;
			color: $white;
		}

		&:first-child {
			margin-top: 41px;
		}
	}

	.sl-blupr-entry-none {
		padding: 0;
		border-bottom: 0;
	}
}
