.sl-console-in {
	background: $white;
	min-width: 120px;
	max-width: $container-width;
	background: $white;
	padding: 4px;

	@import "../toolkit/input";

	label {
		font-size: .7rem;
	}

	.sl-input {
		margin-bottom: 4px;
		padding-bottom: 2px;

		@extend %rounded;
		border-left: 1px;

		&:last-child {
			border-bottom: 0;
		}
	}

	.sl-inp-grp {
		margin: 6px 0;
		padding: 0px 0;

		@extend %rounded;
		border-left: 1px;

		&:last-child {
			border-bottom: 0;
		}

		&.stream {
			.entry {
				.sl-input, .sl-inp-grp {
					margin-left: 12px;
					padding-left: 4px;
				}

				position: relative;

				.sl-btn {
					font-size: 1rem;
					padding: 1px 3px;
					margin-bottom: 2px;

					&.sl-add-entry {
					}

					&.sl-remove-entry {
						position: absolute;
						top: 0;
						bottom: 0;
						color: transparentize($red, .3);
						background: $white;

						&:hover {
							color: $white;
							background: transparentize($red, .3);
						}
					}
				}
			}
		}

		&.map {

		}
	}
}


.sl-console-out {
	background: $white;
	min-width: 120px;
	max-width: 600px;
	max-height: 600px;
	background: $white;
	overflow-y: scroll;
	padding: 4px;

	.sl-json {
		margin: 0;
		padding: 0;
	}

	.sl-json-pair {
		margin-bottom: 6px;

		&:last-child {
			margin-bottom: 0;
		}

		&.sl-json-prim-val {
			> .sl-json-val, > .sl-json-key {
				display: inline-block;
				padding: 2px 6px;
				border-radius: 500px 0 0 500px;
			}

			> .sl-json-key {
				color: $white;
				background: $black;
				border-radius: 500px 0 0 500px;
			}

			> .sl-json-val {
				display: inline-block;
				background: transparentize($black, .9);
				border-radius: 0 500px 500px 0;
			}

			&:hover {
				> .sl-json-key {
					background: $cyan;
					border-color: $cyan;
				}

				> .sl-json-val {
					border-color: $cyan;
				}
			}
		}

		&.sl-json-nested-val {
			> .sl-json-key {
				display: inline-block;
				color: $white;
				padding: 1px 10px;
				border-radius: 15px 15px 15px 0;
				background: $black;
				border-left: 1px solid $black;
			}

			> .sl-json-val {
				border-left: 1px solid $black;
				border-bottom: 1px solid $black;
				border-radius: 0 15px;
				padding: 8px;
			}

			&:hover {
				> .sl-json-key {
					background: $cyan;
					border-color: $cyan;
				}

				> .sl-json-val {
					border-color: $cyan;
				}
			}
		}
	}

	.sl-list-item, .sl-list-head {
		@extend %transition;
		padding: 18px 32px 16px 32px;
		border-bottom: 1px solid transparentize($black, .85);
		transition: background-color, color;
		background: $white;
		cursor: default;
	}

	.sl-list-head {
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
	}

	.sl-list-item {
		&:last-child {
			border-bottom: 0;
		}
	}

}