.sl-console-in {
	background: $white;
	min-width: 120px;
	max-width: $container-width;
	background: $white;
	padding: 4px;

	@import "../toolkit/input";

	label {
		font-size: .7rem;
	}

	.sl-input {
		margin-bottom: 4px;
		padding-bottom: 2px;

		@extend %rounded;
		border-left: 1px;

		&:last-child {
			border-bottom: 0;
		}
	}

	.sl-inp-grp {
		margin: 6px 0;
		padding: 0px 0;

		@extend %rounded;
		border-left: 1px;

		&:last-child {
			border-bottom: 0;
		}

		&.stream {
			.entry {
				.sl-input, .sl-inp-grp {
					margin-left: 12px;
					padding-left: 4px;
				}

				position: relative;

				.sl-btn {
					font-size: 1rem;
					padding: 1px 3px;
					margin-bottom: 2px;

					&.sl-add-entry {
					}

					&.sl-remove-entry {
						position: absolute;
						top: 0;
						bottom: 0;
						color: transparentize($red, .3);
						background: $white;

						&:hover {
							color: $white;
							background: transparentize($red, .3);
						}
					}
				}
			}
		}

		&.map {

		}
	}
}


.sl-console-out {
	background: $white;
	min-width: 120px;
	max-width: 600px;
	max-height: 600px;
	background: $white;
	overflow-y: scroll;
	padding: 4px;
}