.sl-form {
	@extend %proto-container;
	width: 342px;
	background: $white;
	margin: 0;
	padding: 0;
	overflow: hidden;

	> .sl-inp-grp {
		@extend %rounded;
		> label {
			margin: 0;
			padding: 0;

			> .sl-inp-grp {
				padding: 12px 1px 8px 1px;
				border-bottom: 1px solid transparentize($black, .85);
			}
			> .sl-inp-wrap {
				padding: 12px 1px 8px 1px;
				border-bottom: 1px solid transparentize($black, .85);
			}

		}

		.sl-inp-grp {
			&.map {

			}
			&.stream {

			}
		}
	}

}

.sl-inp {
	@extend %bordered;
	border-radius: 500px;
	margin: 3px;
	padding: 0;
	background: $dim;
	input {
		background: transparent;
		border: none;
		margin: 0 12px;
		padding: 11px 0;
		width: 100%;
	}
}

/*
.sl-inp {
	&.number {
		background-color: transparentize($type-color-number, .7);
	}
	&.boolean {
		background-color: transparentize($type-color-boolean, .7);
	}
	&.string {
		background-color: transparentize($type-color-string, .7);
	}
	&.trigger {
		background-color: transparentize($type-color-trigger, .7);
	}
}
*/
